html, body {
  margin: 0;
  height: 100%;
  /* background-color: #ecf0f1; */
  color: #2c3e50;
  font-weight: 200;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.page-header {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  margin-top: 1em;
}

.page-sub-header {
  text-align: center;
  font-size: 2em;
  margin-top: .5em;
}

#canvas {
  width: 500px;
  height: 420px;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.canvas-container {
  display: flex;
  flex-direction: column;
}

 /* {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
} */

.MJXc-display {
  text-align: left !important;
  margin-top: .2em !important;
  margin-bottom: .2em !important;
}

.info-container, .info-controls-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

input {
  /* width: auto; */
}

.header {
  font-size: 1.5em;
  font-weight: bold;
}

.sub-header {
  font-size: 1.3em;
  margin-top: .6em;
}

.underline-green {
  text-decoration: underline;
  text-decoration-color: #2ecc71;
}

.underline-yellow {
  text-decoration: underline;
  text-decoration-color: #f1c40f;
}

.text, #speed-form {
  margin-top: .2em;
  font-family: 'Roboto Mono', monospace;
}

.axis-label {
  font-size: .9em;
}

.shift-right {
  margin-left: 406px;
}

.canvas-controllers {
  /* margin-top: .25em; */
}

.canvas-controllers > button {
  margin-right: .25em;
}

.button-secondary,
.button-error,
.button-success {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-secondary {
  background-color: #3498db;
}
.button-error {
  background-color: #e74c3c;
}
.button-success {
  background-color: #2ecc71;
}
