
html, body {
  margin: 0;
  height: 100%;
  background-color: #f1f2f6;
}

#canvas {
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: 100px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
}
